Manifest.toml
/docs/build/

/test/ref.parquet/
/test/real_zarray.zarr/

*/.CondaPkg/

test/*.nc
test/*.h5
test/*.json


test/data/*.nc
test/data/*.h5
test/data/*.json

!test/data/mur_sst.json
!test/data/its_live_catalog.json